.background-hotel1 {
  width: 92rem;
  height: 95rem;
  background-color: rgb(34, 118, 227);
  position: absolute;
  top: -64rem;
  left: -83rem;
  transform: translate(70%);
  z-index: 1;
  border-radius: 50%;
}

.background-hotel2 {
  width: 102rem;
  height: 100rem;
  background-color: rgb(109, 164, 234);
  position: absolute;
  top: -69rem;
  left: -90rem;
  transform: translate(64%);
  border-radius: 50%;
  z-index: 0;
}

.hotels{
  background-color: #EEF4FD;
}

.hotelsMainSection{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  z-index: 2;
}

.upperInputAdSectionH{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hotelInputs{
  /*background-color: rgb(34, 116, 224);*/
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 1.0rem;
  font-family: Quicksand;
  font-weight: 400;
  position: relative;
  width: 80%;
  /*text-align: center;*/
  z-index: 15;
}

.hotelInputs h1{
  color: white;
  text-align: center;
  padding: 10px;
}

.borderHotelInputs{
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #888888;
  background-color: white;
  color: #777777;
}

.tripRadioH{
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.tripRadioH input:nth-of-type(2){
  margin-left: 60px;
}

.whereH{
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  margin-left: 40px;
}

.whereH label{
  margin-right: 20px;
}

.checkDateH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px 20px 30px;
}

.displayStartDate, .displayEndDate{
  margin-top: 5px;
  height: 40px;
  width: 100px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid grey;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: bold;
  color: rgb(51, 51, 51);

}

.displayStartDate:hover, .displayEndDate:hover, .whereH input:hover{
  border: 2px solid black;
}

.nightsH{
  background-color: #E8F3FF;
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 30px;
}

.guestRoomPrefH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.guestRoomPrefH child2 p{
  position: relative;
}
/*.guestRoomPrefH div{
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-between;
}*/

.passengerWindowH{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: absolute;
  margin-left: 10px;
  background-color: white;
  width: 350px;
  z-index: 101;
}

.adultsNoH, .childrenNoH, .roomsNoH{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  justify-content: space-between;
}

.passengerWindowH span div button{
  margin-left: 4px;
  margin-right: 4px;
}

.decBtnH{
  margin-right: 4px;
}

.incBtnH{
  margin-left: 4px;
}

.closeRoomPassWindowButton{
  align-self: flex-end;
  width: 40%;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  z-index: 100;
}

  .travellerPrefH{
    flex: 0 0 180px;
  }

.travellerPrefBtnH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.travellerPrefBtnH button{
  border-radius: 5px;
  border: 0.5px solid grey;
}

.travellerPrefBtnH button:hover{
  border: 2px solid black;
}

.child2{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 10px;
}

.child2>input{
  height: 40px;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 20px;
  border: 0.5px solid grey;
}

.child2 input:hover{
  border: 2px solid black;
}

.searchH{
  align-self: center;
  margin-top: -15px;
  z-index: 10;
}

.searchH button{
  width: 200px;
  height: 40px;
  background-color: #FF6D38;
  color: white;
  border-radius: 10px;
}

.calendarH{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.calendarButtonH{
  align-self: flex-end;
  margin-top: 30px;
  background-color: #FF6D38;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.rightSection{
  margin-top: 40px;
}

/*.input_data_Hote{
  background-color: rgb(34, 116, 224);

  padding: 10px;
  font-size:1.0rem;
  
  font-family: Quicksand;
  font-weight: 400;
  color: white;

  text-align: center;
}*/



/*For hotel filter*/


.mainHotel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDisplayFilterResult {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    border-top: 1px solid black;
    padding-top: 10px;
    gap: 80px;
  }

  .filteredHotels{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 100px
  }

  .filteredHotelsBorder{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: white;
  }
  
  .filterSectionPriceH, .filterSectionRatingH, .filterSectionAmenitiesH{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .filterSectionPriceH div, .filterSectionRatingH div, .filterSectionAmenitiesH div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .filterSectionPriceH div input, .filterSectionRatingH div input, .filterSectionAmenitiesH div input{
    margin-right: 15px;
  }

  .rating-label-0, .rating-label-1, .rating-label-2, .rating-label-3 {
    text-align: center;
    height: 20px;
    width: 30px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }

  .rating-label-0{
    background-color: #11998E;
  }

  .rating-label-1 {
    background-color: #1CA54F;
  }

  .rating-label-2 {
    background-color: #48B41C;
  }

  .rating-label-3 {
    background-color: #48B41C;
  }



  /*.topFilter {
    display: flex;m                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    height: 20px;
  }
  
  .topFilter label {
    margin-left: 30px;
    margin-right: 10px;
    font-size: small;
  }*/






  /*For Cards Result*/
  .displayFilteredCards{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 40px;
    flex-grow: 1;
  }


  .singleFilteredCardsH{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    transition: transform 0.3s ease-in;
    background-color: white;
  }

  .singleFilteredCardsH:hover{
    transform: scale(1.05);
    border: 2px solid darkred;
  }

  .filterImageLeftH{
    display: flex;
    width: 25%;
    padding-left: 5px;
    margin-right: 15px;
    align-items: center;
    overflow: hidden;
  }

  .imageLeftH{
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }

  .filterRightH{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    margin-top: 5px;
    margin-right: 20px;
  }

  .fR1H{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fR1H p:nth-child(2){
    height: 25px;
    width: 40px;
    padding: 1px;
    background-color: #1CA54F;
    border-radius: 2px;
    text-align: center;
    color: white;
  }

  .fR1H div>p{
    color: rgb(70, 72, 77);
    padding: 0.2rem;
    border: 0.1rem solid rgb(239, 243, 248);
    text-transform: uppercase;
    border-radius: 0.2rem;
    font-size: 14px;
    display: inline-block;
  }

  .fR2H{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .fRDH{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background-color: #FBE5DB;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .fR3H{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fR3H p:last-child{
    background-color: #E1F6F6;
    border-radius: 5px;
    font-size: 14px;
    padding-right: 5px;
  }









  
  /* Styles for room cards and Hotel Details*/

  .mainReceived {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .upperDeatilH{
    background-color: #FFFFFF;
  }

  .nameLocationRatingCarouselH{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .nameLocationRatingH{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nameCoupleH{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .topLineHotelOne {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .coupleFriendly {
    border: 1px solid #1CA54F;
    border-radius: 10px;
    color: #1CA54F;
    height: 34px;
    width: 160px;
    padding: 2px;
    text-align: center;
  }

  .beMonk{
    margin-left: 2px;
  }
  
  .ratingOne {
    padding: 1px;
    background-color: #1CA54F;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    height: 50px;
  }

  .carouselCheckinContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .carouselContainer{
    width: 60%;
    overflow: hidden;
  }

  .imageCarouselH{
    max-height: 550px; /* Updated to max-height */
    width: 100%; /* Updated to full width */
    display: block;
    object-fit: fit;
  }

  .carouselOfferContainer{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    width: 400px;
  }


  .besideCarouselCheck{
    color: rgb(20, 24, 35);
    font: 400 0.9rem / 1.33 "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    border: 0.1rem solid rgb(232, 243, 255);
    padding: 2rem;
    align-self: flex-end;
  }

  .carouCheckin, .carouCheckout{
    color: rgb(20, 24, 35);
    margin-right: 2.5rem;
  }

  .carouCheckinText, .carouCheckoutText{
    box-sizing: border-box;
    color: rgb(70, 72, 77);
    margin-bottom: 0.5rem;
  }

  .carouCheckinTime, .carouCheckoutTime{
    color: rgb(20, 24, 35);
    box-sizing: border-box;
    font-weight: bold;
    font-size: 22px;
    font-family: Quicksand;
  }

  .carouOfferContainer{
    color: rgb(20, 24, 35);
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid rgb(229, 237, 246);
    border-radius: 15px;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    cursor: pointer;
    font-size: 12px;
  }

  .carouOfferImageDiv{
    color: rgb(20, 24, 35);
    cursor: pointer;
    display: flex;
    width: 50px;
    background: rgb(246, 246, 246);
    border: 1px solid rgba(0, 50, 149, 0.24);
    border-radius: 8px;
    padding: 30px 10px;
    margin-right: 0.8rem;
    align-items: flex-start;
    justify-content: center;
  }

  .carouOfferImage{
    color: rgb(20, 24, 35);
    cursor: pointer;
    object-fit: cover;
    width: 25.8px;
  }

  .carouOfferText{
    color: rgb(20, 24, 35);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .carouOfferCode{
    cursor: pointer;
    box-sizing: border-box;
    font-family: Quicksand;
    color: rgb(0, 50, 149);
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .carouOfferoff{
    color: rgb(20, 24, 35);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .carouOfferLink{
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    color: rgb(34, 116, 224);
    font-weight: bold;
    width: 30%;
    display: flex;
    align-items: center;
  }

  .carouCancellation{
    color: rgb(20, 24, 35);
    display: block;
    padding: 1rem 1.5rem;
    border: 0.1rem solid rgb(232, 243, 255);
    margin: 10px 0px 1rem;
    border-radius: 1.2rem;
  }

  .carouCancellationText{
    text-align: left;
    color: rgb(119, 202, 126);
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  /*Room Card*/

  .lowerDetailH{
    background-color: #E8F3FF;
  }

  .cardsAndBooking{
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 20px;
    border-top: 2px solid #98999E;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .roomCards{
    margin-top: 20px;
    flex-grow: 1;
  }

  .roomCardSingle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    padding: 20px;
  }

  .roomCardSingle:hover{
    transform: scale(1.05);
  }


  .leftSideRoomCard {
    width: 25%;
  }

  .leftSideRoomCard h5{
    font-family: inherit;
    font-weight: 600;
  }

  .leftSideRoomCard p{
    margin-top: 10px;
  }
  
  .rightSideRoomCard {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    width: 40%;
    gap: 10px;
  }

  .rightSideRoomCard ul{
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }

  .rightSideRoomCard li{
    font-size: 14px;
  }

  .rightSideRoomCard p:first-child{
    margin: 0;
    padding: 0;
    color: rgb(0, 138, 147);
    font-size: 14px;
    margin-left: -20px;
  }

  .rightSideRoomCard p:first-child>div{
    margin-left: 30px;
    font-size: 12px;
    color: black;
  }


  .roomCancellationText{
    text-align: left;
    color: rgb(119, 202, 126);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-left: -18px;
  }

  .rightSidePriceRoomCard h4{
    font-weight: 500;
  }

  .rightSidePriceRoomCard h4 + p{
    font-size: 14px;
  }

  .strongBoi{
    font-family: inherit;
    color: rgb(119, 119, 119);
    font-size: 14px;
  }

  .roomCardButton{
    color: #1CA54F;
    background-color: white;
    font-size: 16px;
    border: 0.1px solid #1CA54F;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
  }


  
  
  /*.stickyContainer{
    position: sticky;
    margin-top: 60px;
  }*/

  .stickyContainer {
    position: sticky;
    margin-top: 64px;
    top: 80px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .stickyButton {
    margin-top: 10px;
    bottom: 0;
    padding: 10px;
    border: 2px solid #1CA54F;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }






















  /*Price Section*/

  .bookingHotelContainer{
    background-color: #EEF4FD;
    height: 100vh;
  }

  .bookingBgColorH{
    z-index: 1;
    height: 270px;
    background-color: #2274E0;
  }

.bookingMainPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
  margin-top: -250px;
}

.bookingLeftH{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  flex-basis: 800px;
  background-color: white;
}

.bookingS1H, .bookingS2H{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.bookingS2H{
  border: 1px solid #E8F3FF;
  background-color: #E8F3FF;
  padding: 5px;
  border-radius: 10px;
}

.bookingImage1 > img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.bookingHotelNameRating{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bookingLocationH{
  display: flex;
  color: rgb(119, 119, 119);
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  font-size: 18px;
}

.ratingOneBooking{
  padding: 1px;
  background-color: #1CA54F;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
  height: 32px;
  width: 46px;
  font-size: 14px;
  font-weight: 600;
}

.bookH1, .bookH2, .bookH3{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.bookH1 h3, .bookH2 h3, .bookH3 h3{
  font-weight: 600;
  font-size: 22px;
}

.bookingRightH{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 25%;
}

.contentRightH{
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  background-color: white;
}

.basePriceH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.hotelTaxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalGrandH{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: blue;
  margin-top: 10px;
  font-weight: 400;
}


.bookButtonH{
  margin-top: 50px;
  width: 50%;
  margin-left: 200px;
  height: 50px;
  background-color: #FF6D38;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}